// variables
$mainColor: #444;
$mainBackground: #fff;

$accent: #7e5aff; //purple
$second-accent: #55b7ff; //blue
$black: #2c4058;
$grey: #4b5562;
$colGups: 15px;


$textFont-size: 1rem;  // 16px
$linkColor: blue;

$breakpoints: (
  xs: 0,
  sm: 575px,
  md: 768px,
  lg: 1025px,
  xl: 1200px,
  xxl: 1440px
  );



//===========  mixins start ===========//

// columns
$columns: 12;


@each $breakpoint in $breakpoints {
  $name: nth($breakpoint, 1);
  $size: nth($breakpoint, 2);
  @media only screen and (min-width: $size) {
    [class*="col-#{$name}"] {
      box-sizing: border-box;
      flex: 0 0 auto;
      padding-right: $colGups;
      padding-left: $colGups;
    }
    @for $i from 1 through $columns {
      .col-#{$name}-#{$i} {
        flex-basis: 100% / $columns * $i;
        max-width: 100% / $columns * $i;
      }
    }
    @for $i from 1 through $columns {
      .col-#{$name}-offset-#{$i} {
        margin-left: 100% / $columns * $i
      }
    }
  }
}

@import "slick.scss";
@import "slick-theme.scss";


.container{
  max-width: 1170px;
  margin: 0 auto;
}

// layout

.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -$colGups;
  margin-left: -$colGups;
}

[class^='col']{
  padding-left:$colGups;
  padding-right:$colGups;
  width: 100%;
  min-height: 1px;
}



// main styles

body{
  font-family: 'GothamBook', sans-serif;
  font-size: 16px;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;

}
p{
  font-size: 18px;
  line-height: 1.67;
  color: $grey;
  font-weight: normal;
}
//buttons
a, button{
  transition: .3s ease-in;
  transition-property: color, background-color, opacity;
  svg{
    fill:currentColor;
  }
}
button, .button{
  cursor: pointer;
}

.button{
  font-family: 'GothamBook';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: center;
  color: rgb(44, 64, 88);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 190px;
  height: 50px;
  border: solid 1px rgb(44, 64, 88);
  background-color: white;
  color: #323232;
  text-decoration: none;
  text-transform: uppercase;
  &:hover, &:focus{
    color: #fff;
    background-color: rgb(44, 64, 88);
  }
}

.ba-header{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 5;
  margin-top: 41px;

  &__container{
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
}
.ba-logo{

  font-size: 29.5px;
  font-weight: bold;
  line-height: 0.24;
  letter-spacing: -2.95px;
}
.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;


  &__item{
    font-family: 'GothamBook';
    margin-right: 20px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;

  }
}

.social{
  display: flex;
  &__icon{
    width: 40px;
    height: 40px;
    border: solid 1px #fff;
    border-radius: 100%;
    padding: 10px;
    margin-left: 20px;
  }
  &__link{
    color: #fff;
  }
  &__item{
    width: 9px;
    height: 16px;
    text-align: center;
    display: block;
    margin: auto;
  }
}
.twitter{
  width: 14px;
  height: 12px;
}
.instagram{
  width: 14px;
  height: 14px;
}

.hero{
 display: flex;
 min-height: 100vh;
 align-items: center;
 text-align: left;
 color: #fff;
 background: {
  image: url(../img/hero.jpg);
  size: cover;
}
}
.ba-slider {

}

.slide{
  &-title{
    font-family: 'gothambold1';
    font-size: 80px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 4px;
    text-align: center;
    color: white;
    text-transform: uppercase;
  }
  &-sub-title{
    font-family: 'GothamBook';
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 5.4px;
    text-align: center;
    color: white;
    text-transform: uppercase;
  }
}

#map{
  height: 700px;
}

.contact{
  width: 1400px;
  display: flex;

  &__map{

  }
  &__form{
   width: 50%;
 }

}
.slick-dots {
  list-style: none;
  display: flex;
  text-align: right;
  padding: 0;
  margin: 0;
  width: 100%;
  flex-direction: column;
  position: absolute;
  align-items: flex-end;
  top: -30px;
  right: -180px;
  li{
    margin-bottom: 40px;
  }
}

.title{
  font-size: 44px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  line-height: 2;
  text-align: center;
  text-transform: uppercase;
  color: $black;
  position: relative;
  margin-top: 140px;

  &:before{
    content: " ";
    width: 100px;
    height: 1px;
    background-color: $black;
    position: absolute;
    top: -40px;
    margin: auto;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
  }
}

.image__wrapper{
  width: 630px;
  height: 470px;
  overflow: hidden;
  text-align: right;
  margin-left: auto;
}
.project{
  display: flex;
  &__title{
    padding-bottom: 170px;
  }
  &__image{

   height: 100%;
   width: 100%;
   object-fit: cover;
   object-position: center;
 }

 &__information{
   margin-left: 69px;
   &--uptitle{

    font-family: 'GothamBook', sans-serif;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    line-height: 2;
    text-align: left;
    text-transform: uppercase;
    color: $black;
    position: relative;
  }

  &--title{
    font-size: 44px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    line-height: 2;
    text-align: left;
    text-transform: uppercase;
    color: $black;
    position: relative;
  }
  &--btn{
    margin-top: 36px;
    margin-bottom: 60px;
  }
}
}
.project2{
  display: flex;
  margin-top: 210px;
  margin-bottom: 140px;
  &__information{
    margin-right: 69px;
  }
}

.news-general{
  font-family: 'gotham-medium-webfont';
  font-size: 44px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.5;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  margin: 180px auto 100px auto;
  text-transform: uppercase;
}
.news{
  wigth: 370px;
  min-height: 514px;
  background-color: #FFF;
  margin-right: 30px;
  height: fit-content;
  &__content{
    padding: 30px 30px 30px 20px;
  }

  &__title{
    font-family: 'gothambold1';
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.55;
    letter-spacing: normal;
    text-align: left;
    color: rgb(44, 64, 88);
    padding-bottom: 20px;
    text-transform: uppercase;
  }
  &__paragraph{
    font-family: OpenSans;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: rgb(75, 85, 98);
    padding-bottom: 35px;
  }
  &__avatar{
    display: flex;

  }
  &__avatar-details{

  }
  &__avatar-img{
    border-radius: 50%;
    padding-right: 20px;
  }


  &__avatar-name{
    font-family: 'GothamBook';
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: rgb(44, 64, 88);
    text-transform: uppercase;
  }
  &__avatar-date{
    font-family: 'GothamBook';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: rgb(85, 183, 255);
  }
}
.multiple-items{
  padding-bottom: 200px;
}
.breaking-news{
 display: flex;
 min-height: 100vh;
 align-items: center;
 text-align: left;
 color: #fff;
 background: {
  image: url(../img/hero2.jpg);
  size: cover;
}
}

.gallery{

  &__title{

  }

  &__container{
    display: flex;
    justify-content: space-between;
  }

  &__image-wrapper{
    width: 100%;
    height: 50%;
    overflow: hidden;
  }

  &__img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;

  }

  &__main{
    width: 50%;
    margin-right: 5px;
  }

  &__right{
    width: 50%;
    margin-left: 5px;
    display: flex;
    flex-direction: column;

    &-top{
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      &-1{
        margin-right: 5px;
      }

      &-2{
        margin-left: 5px;
      }
    }


    &-bottom{
      display: flex;
      justify-content: space-between;
      margin-top: 5px;
      &-1{
        margin-right: 5px;
      }

      &-2{
        margin-left: 5px;
      }
    }
  }

  &__btn{
    margin-top: 60px;
    transform: translateX(-50%);
    margin-left: 50%;
    margin-bottom: 160px;
  }
}

.information{

 &__details{
   display: flex;
   justify-content: space-between;
   width: 85%;
   margin: auto;

 }
&__title{
  margin-top: 80px;
}

 &__form{
  height: 450px;
  width: 770px;
  background-color: #FFF;
  position: absolute;
  transform: translateX(-50%);
  margin-left: 50%;
  z-index: 2;
  bottom: 380px;
  padding-bottom: 80px;

}
&__input{
  padding: 15px 0;
  width: 310px;
  margin-bottom: 30px;
  border: 1px solid transparent;
  border-bottom: 1px solid #000;
}

&__text{
  padding-bottom: 20px;
}
&__get{
  display: flex;
  flex-direction: column;


}
&__footer{
  position: relative;
  display: flex;
  justify-content: space-between;
      width: 770px;
}
}

.footer-main{
 display: flex;
 height: 524px;
 align-items: center;
 text-align: left;
 color: #fff;
 background: {
  image: url(../img/footer.jpg);
  size: cover;
}
}
.copyright{
  color: #FFF;
  margin-top: 42px;
}
